.homeDesign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  /* background-image: url("../../../img/aleksandr-popov-R25Q-pAUeY8-unsplash.jpg"); */

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.eventCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
