.homeDesign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
}
.eventCards {
  height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.eventListDesignHome {
  width: 5vw;

  color: black;
  background-color: rgb(175, 86, 86);
}
.pagination {
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.page-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.page-link {
  color: rgb(247, 247, 247);
  margin: 1em;
}
.page-link:hover {
  font-weight: bold;
  scale: 150%;
}
