.header-design {
  height: 10vh;
  width: 99vw;

  background-color: transparent;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: black;
}

.navigator-design {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
}

.out-design {
  color: white;
  font-weight: bold;

  margin: 1em;

  transition: 0.3s;
}

.out-design:hover {
  transition: 0.3s;
  color: black;
  cursor: pointer;
}
.navigate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
}

.title {
  font-size: x-large;

  margin: 1em;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
