#root {
  width: 100%;

  text-align: center;
  background-color: transparent;
  background-image: url("../img/aleksandr-popov-R25Q-pAUeY8-unsplash.jpg");
  background-size: cover;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  padding: 0;
}
