.eventDesign {
  height: 90vh;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.createEditDesign {
  height: 30vh;
  width: 100vw;
  border: 0.1em solid #f1f1f1;
  display: flex;
  flex-direction: row;

  justify-content: center;
}
.createEventDesign {
  height: 30vh;
  width: 50vw;
  border: 0.1em solid #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.editEventDesign {
  height: 30vh;
  width: 50vw;
  border: 0.1em solid #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputDesign {
  width: 17%;
  height: 3vh;
  margin: 0.5em;
  padding: 0.5em;
  border: 0;
  background-color: #f1f1f1;
}
.buttonCreateDiv {
  display: flex;
  justify-content: center;
  height: 5em;
}
.cButtonDesign {
  width: 10em;
  height: 3em;
  background-color: #d0c833;

  margin: 0.5em;
  cursor: pointer;
}
.listEventsDesign {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.listEvents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.eventListDesign {
  color: rgb(255, 255, 255);
  height: 3em;
  width: 90%;

  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.eventName {
  width: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eventDate {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eventClub {
  width: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonCreate {
  display: flex;
  justify-content: center;
}
