.usersDesign {
  height: 90vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.usersListDesign {
  color: white;
  width: 90vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.userDesign {
  display: flex;
  flex-direction: row;
  margin: 0.3em;
  width: 100%;
  border: 0.1em solid white;
}
.userFirstName {
  margin-right: 0.5em;
  padding-left: 0.5em;
  display: flex;
  justify-content: flex-start;

  width: 18em;
}
.userLastName {
  margin-right: 0.5em;
  padding-left: 0.5em;
  display: flex;
  justify-content: flex-start;

  width: 18em;
}
.userEmail {
  margin-right: 0.5em;
  padding-left: 0.5em;
  display: flex;
  justify-content: flex-start;

  width: 18em;
}
.userCountry {
  margin-right: 0.5em;
  padding-left: 0.5em;
  display: flex;
  justify-content: flex-start;

  width: 18em;
}
.deleteUser {
  margin-right: 0.5em;
  padding-left: 0.5em;
  display: flex;
  justify-content: flex-end;

  width: 18em;
}
.deleteUser:hover {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}
