.usersDesign {
  height: 90vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.usersListDesign {
  color: white;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.createUserDesign {
  color: white;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
